* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #25282a;
}

.main {
  width: 90%;
  margin: 10px auto;
  color: white;
}

.main-slider {
  display: inline-block;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.image-container {
  max-width: 100%;
}

.image-slide {
  display: none;
  height: 100%;
}

.image-slide img {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}

.image-slide.active {
  display: block;
}

.info {
  display: none;
}

.info.active {
  display: block;
}

.description-slider {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dots-slider {
  display: flex;
  flex-wrap: nowrap;
}

.dot {
  width: 20px;
  height: 20px;
}

.circle {
  margin: 5px auto;
  width: 10px;
  height: 10px;
  border: 1px solid #71abff;
  background-color: #71abff;
  border-radius: 50%;
}

.dot:hover .circle {
  border: 1px solid white;
  background-color: white;
}

.dot.active .circle {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 320px) {
  .description-slider {
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  .dots-slider {
    margin: 0 auto;
  }
}
